* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://img.freepik.com/free-photo/liquid-purple-art-painting-abstract-colorful-background-with-color-splash-paints-modern-art_1258-103360.jpg?t=st=1712924846~exp=1712928446~hmac=737ce15a713a4ded402585f90212270ffeb74e97dd64b545d0bbb9f16e12e383&w=900");
  background-size: cover;
  background-position: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
