.error-message {
  color: red;
}

.form-control {
  width: 100%;
}

#allocatebtn {
  background-color: #ab47bc; 
  border-color: #6a0dad; 
}

#allocatebtn:hover {
  background-color: #7b1fa2; 
  border-color: #542ee5; 
}

.container {
  max-width: 100%; 
  margin: auto; 
  padding: 20px; 
}
