.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}
.home-content{
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}
.admin-buttons {
  margin-bottom: 20px;
}

.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-card {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-heading {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #555;
}

.project-list {
  margin-top: 20px;
}

.project-list h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #333;
}

.project-list p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #777;
}


.homeImg{
  height: 250px;
  

}