.loginContainer {
  height: 100%;
}

.loginContainer .form-label {
  color: #6937ff;
}
.loginContainer .card-title {
  color: #6937ff;
}

.loginForm {
  max-width: 600px;
  margin: auto; /* Center the form horizontally */
  padding: 20px;
  border-radius: 10px;
}

.loginCardBody {
  display: flex;
  align-items: center;
}

.loginImage {
  max-width: 100%;
}

.form-label {
  color: #000;
}

#logbtn {
  background-color: #6937ff;
  color: #fff;
}

#logbtn:hover {
  background-color: #542ee5;
}

.alert {
  margin-top: 20px;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.loginFormCol {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 900px) {
  .loginFormCol {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .loginFormContainer {
    width: 100%;
  }
}
