.login-container {
  background-color: #6937ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  color: #fff;
}

#logbtn {
  background-color: #ab47bc; /* Purple */
  /* border-color: #6937ff; */
  color:#fff
}

#logbtn:hover {
  background-color: #7b1fa2; /* Darker shade of purple on hover */
  /* border-color: #542ee5; */
}

.alert {
  margin-bottom: 20px;
}
