/* Navbar.css */

.navbar {
  background-color: #6a0dad; /* Purple color */
}

.navbar-brand {
  color: #fff; /* White color */
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Bold font weight */
}

.nav-link {
  color: #fff; /* White color */
  font-weight: bold; /* Bold font weight */
  margin-right: 15px; /* Add some margin between links */
}

.nav-link:hover {
  color: #eee; /* Lighter shade of white for hover */
}

.navbar-toggler-icon {
  color: #fff; /* White color */
}

.nav-item {
  display: flex;
  align-items: center; /* Align items vertically */
}
