/* RegistrationForm.css */

/* Page styles */
body {
    margin: 0;
    padding: 0;
    /* background-image: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg'); */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Add a suitable font-family */
    opacity: 0.8; /* Increase opacity of the background image */
    overflow: hidden; /* Hide any overflow to prevent scrollbars */
}

/* Container styles */
.regFormContainer {
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form styles */
.regForm {
    width: 80%; /* Adjust width as needed */
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff; /* Set to solid white color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for a 3D effect */
}

/* Error message styles */
.error {
    color: red;
    margin-bottom: 10px;
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button styles */
button[type="submit"] {
    width: 100%; /* Make button full width */
    padding: 15px; /* Increase padding for larger size */
    margin-top: 15px; /* Add margin to separate from inputs */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
