.input-field {
  width: 100%;
  height: 30px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: #007bff; 
}

.btn-purple {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-purple:hover {
  background-color: #6a1b9a; 
}
.main {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.total-time {
  color: #6a0dad;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subHeading select {
  background-color: #6a0dad;
  color: white;
}

.subHeading2 {
  color: #6a0dad;
}

.table th {
  background-color: white;
  color: #6a0dad; 
}

.table td {
  background-color: #f0f0f0;
}

.submit-button {
  margin-top: 20px;
  text-align: center;
}

.submit-button button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.submit-button button:hover {
  background-color: #4a0780;
}

.container {
  text-align: center;
}

.timesheet-title {
  color: white;
  margin-bottom: 30px;
}

.date-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.date-navigation > .date-navigation-btn {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.date-range {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap; 
}

.timesheet {
  margin-top: 20px;
  overflow-y: auto; 
  max-height: calc(100vh - 300px);
}
.plusbtn,
.minusbtn {
  background-color: #4a0780;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.plusbtn:hover,
.minusbtn:hover {
  background-color:#4a0780;
}
